<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <div th:replace="fragments/header :: header-css"></div>
  <title>List book</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">

  <div id="div1"><h2><a th:href="@{/book/create}">Create book</a></h2></div>
  <div id="div2"><h2>Books:</h2></div>

  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Author</th>
      <th scope="col">Genre</th>
      <th scope="col"></th>
    </thead>

    <tbody>
    <tr th:each="book : ${books.content}">
      <td th:text="${book.title}">title</td>
      <td th:text="${#dates.format(book.date, 'dd-MM-yyyy')}"></td>
      <td th:text="${book.author.firstName} +' '+ ${book.author.lastName}">author</td>
      <td th:text="${book.genre.name}">genre</td>
      <td>
        <a th:href="@{/book/edit(id=${book.id})}">Edit book</a>
      </td>
      <td>
        <a th:href="@{/comment/list/(id=${book.id},title=${book.title})}">View comments</a>
      </td>
      <td>
        <form id="delete-form" th:action="@{/book/delete(id=${book.id})}" th:method="post">
          <button type="submit">Delete book</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
<br>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
