<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments/head :: head(title='Home page')"></head>

  <body>
    <div class="layer3">
      <h2><a th:href="@{/createBook}" href="createBook.html" th:text="#{listBook.CreateBook}">Create book</a></h2>
    </div>
    <h1 th:text="#{listBook.H1message}">Books:</h1>

    <div class="layer1">
      <a th:href="@{?lang=en}"> <img th:src="@{/img/en.png}" class="img"></a>
    </div>
    <div class="layer2">
      <a th:href="@{?lang=ru}"><img th:src="@{/img/ru.png}" class="img"></a>
    </div>

    <table class="books">
      <thead>
      <tr>
        <th th:text="#{Title}">Title</th>
        <th th:text="#{Date}">Date</th>
        <th th:text="#{Author}">Author</th>
        <th th:text="#{Genre}">Genre</th>
      </thead>
      <tbody id="tbodyListBook">
      </tbody>
    </table>

    <script th:replace="fragments/scripts :: scripts"></script>
    <script th:replace="fragments/scriptListBook :: scriptListBook"></script>
  </body>
</html>
