<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments/head :: head(title='Create book page')"><title></title></head>

  <body>
      <h1 th:text="#{bookInfo}">Book Info:</h1>

      <div class="row">
        <label for="input-title" th:text="#{Title}">Title:</label>
        <input id="input-title" name="title" type="text" value="title"/>
      </div>

      <div class="row">
        <label for="input-date" th:text="#{Date}">Date:</label>
        <input id="input-date" name="date" type="date" value=""/>
      </div>

      <div class="row">
        <label for="select-author" th:text="#{Author}">Author:</label>
        <select id="select-author">
          <option id="option-author" th:each="author : ${authors}"  th:value="${author.id}" th:text="${author.firstName} +' '+ ${author.lastName}"></option>
        </select>
      </div>

      <div class="row">
        <label for="select-genre" th:text="#{Genre}">Genre:</label>
        <select id="select-genre">
          <option id="option-genre" th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>
      </div>

      <div class="row">
        <button onclick="saveBook('POST','',$('#input-title').val(),$('#input-date').val(),$('#select-author').val(),$('#select-genre').val())"
                th:text="#{save}">Save book</button>
      </div>

    <br>
    <a th:href="@{/}" href="pageBookList.html" th:text="#{backToHome}">Back to list books page</a>
  </body>
</html>
