<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments/head :: head(title='Edit book page')"></head>

  <body>
    <form id="edit-form" th:object="${book}" th:action="@{/api/book/save(id=${book.id})}" th:method="post">
      <h1 th:text="#{bookInfo}">Book Info:</h1>

      <div class="row">
        <label for="id-input" th:text="#{Id}">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value=""/>
      </div>

      <div class="row">
        <label for="holder-input-title" th:text="#{Title}">Title:</label>
        <input id="holder-input-title" name="title" type="text" value=""/>
      </div>

      <div class="row">
        <label for="holder-input-date" th:text="#{Date}">Date:</label>
        <input id="holder-input-date" name="date" type="date" value=""/>
      </div>

      <div class="row">
        <label for="holder-input-author" th:text="#{Author}">Author:</label>
        <select id="holder-input-author">
          <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName} +' '+ ${author.lastName}"></option>
        </select>
      </div>

      <div class="row">
        <label for="holder-input-genre" th:text="#{Genre}">Genre:</label>
        <select id="holder-input-genre">
          <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>
      </div>

      <div class="row">
        <button type="submit" th:text="#{save}">Save</button>
      </div>
    </form>
    <br>
    <a th:href="@{/}" href="list.html" th:text="#{backToHome}">Back to list books page</a>

    <script th:replace="fragments/scriptDependency :: jquery"></script>
<!--    <script th:replace="fragments/scriptBook :: editBook" th:bookId="123"></script>-->

  </body>

</html>
