<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="fragments/head :: head(title='Create book page')"></head>

  <body>
    <h1 th:text="${title}">book title :</h1>
    <table class="comments">
      <thead>
      <tr>
        <th th:text="#{listComment.commentary}">commentary</th>
        <th th:text="#{listComment.timestamp}">timestamp</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="comment : ${comments}">
        <td th:text="${comment.commentary}">commentary</td>
        <td th:text="${comment.timestamp}">timestamp</td>
      </tr>
      </tbody>
    </table>
    <br>
    <a th:href="@{/}" href="../list.html" th:text="#{backToHome}">Back to list books page</a>

    <script th:replace="fragments/scriptDependency :: jquery"></script>
  </body>

</html>
