<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title='Create book page')"><title></title></head>

<body>
<h1>Book Info:</h1>

<div class="row">
  <label for="input-title">Title:</label>
  <input id="input-title" name="title" type="text" value="title"/>
</div>

<div class="row">
  <label for="input-date">Date:</label>
  <input id="input-date" name="date" type="date" value=""/>
</div>

<div class="row">
  <label for="select-author">Author:</label>
  <select id="select-author">
    <option id="option-author" th:data="getAuthorList()" th:each="author : ${authors}" th:value="${author.id}"
            th:text="${author.firstName} +' '+ ${author.lastName}"></option>
  </select>
</div>

<div class="row">
  <label for="select-genre">Genre:</label>
  <select id="select-genre">
    <option id="option-genre" th:data="getGenreList()" th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
  </select>
</div>

<div class="row">
  <button onclick="saveBook('POST','',$('#input-title').val(),$('#input-date').val(),$('#select-author').val(),$('#select-genre').val())"
  >Save book
  </button>
</div>

<br>
<a th:href="@{/}" href="pageBookList.html">Back to list books page</a>
</body>
</html>
