<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>List of books</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<h1>Books:</h1>

<table class="books">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Date</th>
    <th>Author</th>
    <th>Genre</th>
  </thead>
  <tbody>
  <tr th:each="book : ${books.content}">
    <td th:text="${book.id}">id</td>
    <td th:text="${book.title}">title</td>
    <td th:text="${book.date}">date</td>
    <td th:text="${book.author.firstName} +' '+ ${book.author.lastName}">author</td>
    <td th:text="${book.genre.name}">genre</td>
    <td>
      <a th:href="@{/edit(id=${book.id})}" href="editBook.html">Edit book</a>
    </td>
    <td>
      <a th:href="@{/comments(id=${book.id})}" href="listComment.html">View comments</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
