<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>List of books</title>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<h1>Books:</h1>

<h2><a th:href="@{/createBook}" href="createBook.html">Create book</a></h2>
<table class="books">
  <thead>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Author</th>
    <th>Genre</th>
  </thead>
  <tbody>
  <tr th:each="book : ${books.content}">
    <td th:text="${book.title}">title</td>
    <td th:text="${#dates.format(book.date, 'dd-MM-yyyy')}"></td>
    <td th:text="${book.author.firstName} +' '+ ${book.author.lastName}">author</td>
    <td th:text="${book.genre.name}">genre</td>
    <td>
      <a th:href="@{/editBook(id=${book.id})}" href="editBook.html">Edit book</a>
    </td>
    <td>
      <a th:href="@{/viewComment(id=${book.id},title=${book.title})}" href="listComment.html">View comments</a>
    </td>
    <td>
      <form id="delete-form" th:action="@{/deleteBook(id=${book.id})}" th:method="post">
        <button type="submit">Delete book</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
